body {
    box-sizing: border-box;
}

:root {
    --myblack: #000000;
    --myYellow: #f0e80c;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


nav {
    background-color: var(--myblack);
}

.navbar-brand {
    font-weight: bold;
    font-size: 30px;
}

.section1 {
    background-image: url('Image/domicile.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.text {
    font-weight: bold;
    font-size: 50px;
}

.circle {
    background-color: var(--myblack);
    width: 25%;
    writing-mode: horizontal-tb;
    font-weight: bold;
}

.col-sm-3 {
    border-left: 5px solid var(--myblack);
}

.text-blue {
    font-weight: bold;
}

.section3 {
    background-color: var(--myblack);
}

.talk p{
    text-shadow: 2px 2px #000000;
    font-size: 35px;
}

.req {
    border: 3px solid hsl(210, 100%, 56%);
    padding: 10px 7px;
}

.req a {
    font-weight: bold;
}

.footer-end {
    background-color: var(--myblack);
}